@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import shared UI styles */
@import '@repo/ui/globals.css';

body {
  font-feature-settings: 'rlig' 1, 'calt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
